<%= form_for(@livestock) do |f| %>
  <% if @livestock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@livestock.errors.count, "error") %> prohibited this livestock from being saved:</h2>

      <ul>
      <% @livestock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :day_of_birth %><br>
    <%= f.date_select :day_of_birth %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
