<h1>Listing livestocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day of birth</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livestocks.each do |livestock| %>
      <tr>
        <td><%= livestock.name %></td>
        <td><%= livestock.day_of_birth %></td>
        <td><%= livestock.gender %></td>
        <td><%= link_to 'Show', livestock %></td>
        <td><%= link_to 'Edit', edit_livestock_path(livestock) %></td>
        <td><%= link_to 'Destroy', livestock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Livestock', new_livestock_path %>
